# Terraform
.terraform/

# Terraform lock
.terraform.lock.hcl

# State files
*.tfstate
*.tfstate.*

# Plan files
*.tfplan
tfplan
tfplan.*

# Variables
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json

# Crash logs de Terraform
crash.log
crash.*.log

# OS
.DS_Store
Thumbs.db

# Pluralith
.pluralith/*.backup
.pluralith/
*.backup